@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbe3ea;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 380px;
    height: 220px;
    background: url("images/bg.png") no-repeat center/cover;
    background-color: #000; /* fallback if no bg image */
    border-radius: 20px;
    padding: 25px;
    color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* Top Section */
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Image */
.logo {
    width: 90px;
}

/* Chip Image */
.chip {
    width: 55px;
}

/* Card Number */
.card-number {
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: 1px;
}

.card-number p {
    font-size: 25px;
    opacity: 0.7;
    margin: 0;
}

.card-number h2 {
    margin: 5px 0;
    letter-spacing: 3px;
    font-size: 20px;
}

/* Bottom Section */
.card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 12px;
}

.card-bottom h4 {
    margin: 2px 0 0 0;
}
